server:
  port: 7001
  servlet:
    context-path: /ad-search

spring:
  application:
    name: eureka-client-ad-search
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true
    open-in-view: false
  datasource:
    url: jdbc:mysql://192.168.150.101:3306/ad_data?autoReconnect=true
    username: root
    password: 301123gsw
    tomcat:
      max-active: 4
      min-idle: 2
      initial-size: 2
  kafka:
    bootstrap-servers: 192.168.150.101:9092
    listener:
      concurrency: 4

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka/

feign:
  hystrix:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
adconf:
  mysql:
    host: 192.168.150.101
    port: 3306
    username: root
    password: 301123gsw
    binlogName: " "
    position: -1
 
  kafka:
    topic: ad-search-mysql-data

